<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nsu.edu.qingcheng.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="nsu.edu.qingcheng.bean.Menu">
    <id column="MENU_ID" jdbcType="INTEGER" property="menuId" />
    <result column="TOP_ID" jdbcType="INTEGER" property="topId" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="MENU_PIC" jdbcType="VARCHAR" property="menuPic" />
    <result column="MENU_DESCRIPTION" jdbcType="VARCHAR" property="menuDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MENU_ID, TOP_ID, MENU_NAME, MENU_PIC, MENU_DESCRIPTION
  </sql>
  <select id="selectByExample" parameterType="nsu.edu.qingcheng.bean.MenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="nsu.edu.qingcheng.bean.MenuExample">
    delete from menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="nsu.edu.qingcheng.bean.Menu">
    insert into menu (MENU_ID, TOP_ID, MENU_NAME, 
      MENU_PIC, MENU_DESCRIPTION)
    values (#{menuId,jdbcType=INTEGER}, #{topId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, 
      #{menuPic,jdbcType=VARCHAR}, #{menuDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="nsu.edu.qingcheng.bean.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        MENU_ID,
      </if>
      <if test="topId != null">
        TOP_ID,
      </if>
      <if test="menuName != null">
        MENU_NAME,
      </if>
      <if test="menuPic != null">
        MENU_PIC,
      </if>
      <if test="menuDescription != null">
        MENU_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="topId != null">
        #{topId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPic != null">
        #{menuPic,jdbcType=VARCHAR},
      </if>
      <if test="menuDescription != null">
        #{menuDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="nsu.edu.qingcheng.bean.MenuExample" resultType="java.lang.Long">
    select count(*) from menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update menu
    <set>
      <if test="record.menuId != null">
        MENU_ID = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.topId != null">
        TOP_ID = #{record.topId,jdbcType=INTEGER},
      </if>
      <if test="record.menuName != null">
        MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuPic != null">
        MENU_PIC = #{record.menuPic,jdbcType=VARCHAR},
      </if>
      <if test="record.menuDescription != null">
        MENU_DESCRIPTION = #{record.menuDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update menu
    set MENU_ID = #{record.menuId,jdbcType=INTEGER},
      TOP_ID = #{record.topId,jdbcType=INTEGER},
      MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      MENU_PIC = #{record.menuPic,jdbcType=VARCHAR},
      MENU_DESCRIPTION = #{record.menuDescription,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="nsu.edu.qingcheng.bean.Menu">
    update menu
    <set>
      <if test="topId != null">
        TOP_ID = #{topId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPic != null">
        MENU_PIC = #{menuPic,jdbcType=VARCHAR},
      </if>
      <if test="menuDescription != null">
        MENU_DESCRIPTION = #{menuDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="nsu.edu.qingcheng.bean.Menu">
    update menu
    set TOP_ID = #{topId,jdbcType=INTEGER},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_PIC = #{menuPic,jdbcType=VARCHAR},
      MENU_DESCRIPTION = #{menuDescription,jdbcType=VARCHAR}
    where MENU_ID = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>